# Archivo de variables de entorno con datos sensibles
.env

# Archivos de caché e interpretación de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
ENV/
env/

# Archivos de Pipenv
.Pipfile.lock.result

# IDEs y editores de código
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db